nav{
  width:55px;
  background: var(--dark-grey);
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  .logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    .wow-logo{
      width: 50px;
      display: block;
      margin: 10px auto 10px 2.5px;
      transition: 0.4s;;
    }
    h2{
      display:none;
      font-size: 14px;
    }
  }
  .avatar-container {
    width: 100%;
    display: flex;
    align-items: center;
    .avatar{
      width:40px;
      height: 40px;
      margin: 15px auto 15px 7.5px;
      border-radius: 100%;;
    }
    div{
      display: none;
    }
  }
  .link-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    a{
      width:150px;
      display: flex;
      align-items: center;
      color: var(--light-grey);
      text-decoration: none;
      margin-top: 20px;
      svg{
        min-width: 19px;
        margin: auto 5px auto 18px;
      }
      span {
        font-size: 14px;
        display: none;
      }
    }
    .discord-link{
      color: var(--yellow);
      svg{
        width: 20px;
      }
    }
    .active-link{
      color: var(--white);
    }
  }
  .toggle-menu{
    margin: 0 auto 10px 12px;
    cursor: pointer;
    background: transparent;
    border:none;
    outline: none;
    img{
      width: 19px;
    }
  }
}

.nav-open{
  .logo-container{
    .wow-logo{
      width: 35px;
      margin-right: 4px;
    }
    h2{
      display:block;
    }
  }
  .avatar-container {
    .avatar{
      width:40px;
      height: 40px;
      margin-right: 8px;
    }
    div{
      display: block;
      display: flex;
      flex-direction: column;
      .avatar-level{
        font-size: 12px;
      }
    }
  }
  .link-container{
    a{
      span{
        display:block;
      }
    }
  }
}