nav{
  width:70px;
  background: var(--dark-grey);
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  display: flex;
  flex-direction: column;
  .wow-logo{
    width: 60px;
    display: block;
    margin: 10px auto;
  }
  .avatar{
    width:50px;
    height: 50px;
    margin: 15px auto;
    border-radius: 100%;;
  }
  .link-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
      width: 38px;
      height: 38px;
      color: var(--light-grey);
      margin-top: 8px;
      display: flex;
      svg{
        margin: auto;
        width:19px;
      }
    }
    .discord-link{
      color: var(--yellow);
      svg{
        width: 20px;
      }
    }
    .active-link{
      color: var(--white);
      background: var(--medium-grey);
      border-radius: 8px;
    }
  }
}