form{
  max-width: 500px;
  margin: 40px auto;
  background: var(--light-medium-grey);
  padding:10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  input{
    color: var(--medium-white);
    margin: auto;
    border: none;
    height: 25px;
    border-radius: 3px;
    background: transparent;
    padding-left: 15px;
    outline: none;
    &::placeholder {
      color: var(--medium-white);
    }
  }
  
  .input-select{
    background: var(--medium-grey);
    &:nth-child(3){
      width:30px;
    }
  }
  input[type=submit]{
    width:50px;
    background: url('../../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    border:none;
  }
}