:root{
  // Main colors
  --dark-grey: #16191C;
  --medium-grey: #262E35;
  --medium-light-grey: #323B44;
  --light-medium-grey: #414D53;
  --light-grey: #485054;
  --light-light-grey: #9EA3A7;
  --medium-white: #E5EBEF;
  --white: #FFFFFF;
  --yellow: #F4BF2A;
  // Quality
  --poor: #9D9D9D;
  --uncommun: #49BB39;
  --rare: #0081FF;
  --Epic: #C664FF;
  --Artifact: #E5CC80;
  // Raid progression
  --raid-progress-little: #7A5830;
  --raid-progress-medium: #F89D00;
  --raid-progress-full: #0A7727;
  // Collection
  --mount-background: #181818;
  // Classes
  --Druid: #ff7c0a;
  --Rogue: #FFF569;
  --DeathKnight: #C41F3B;
  --DemonHunter: #a330c9;
  --Hunter: #aad372;
  --Mage: #68ccef;
  --Monk: #00ffba;
  --Shaman: #2359ff;
  --Warrior: #c69b6d;
  --Warlock: #9382c9;
  --Paladin: #f48cba;
  --Priest: #f0ebe0;
}

body{
  background: var(--medium-grey);
  color: var(--white);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.shadow{
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

// Scroll bar 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-medium-grey);
}
 
::-webkit-scrollbar-thumb {
  background: var(--medium-light-grey);
}

::-webkit-scrollbar-thumb:hover {
  background: #1e2225;
}