:root{
  // Main colors
  --dark-grey: #16191C;
  --medium-grey: #262E35;
  --medium-light-grey: #323B44;
  --light-medium-grey: #414D53;
  --light-grey: #485054;
  --light-light-grey: #9EA3A7;
  --medium-white: #E5EBEF;
  --white: #FFFFFF;
  --yellow: #F4BF2A;
  // Quality
  --poor: #9D9D9D;
  --uncommun: #49BB39;
  --rare: #0081FF;
  --epique: #C664FF;
  --legendary: #E5CC80;
  // Raid progression
  --raid-progress-little: #7A5830;
  --raid-progress-medium: #F89D00;
  --raid-progress-full: #0A7727;
}

body{
  background: var(--medium-grey);
  color: var(--white);
  margin: 0;
}